*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 20px/32px 'Noto Sans', sans-serif;
    color: gray;
}



.content2 {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    transition: all ease-in-out .3s;
    min-height: 100%;
}

.content-inner2 {
    width: 100%;
    max-width: 100em;
    margin: auto  auto;
}

.card2{
    display: flex;
    text-align: center;
    padding: 50px;
    max-width: 1200px;
    min-height: 600px;
    max-height: 100vh;
    flex-direction: row;
    background: white;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 21px 37px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 21px 37px 6px rgba(0, 0, 0, 0.2);
}


.imageContainer2{
    padding: 0 0;
    align-self: center;
    align-items: flex-start;
    height: 100%;
    object-fit: cover;
}

.textContainer2{
    padding-left: 30px;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: center;
}